<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <title>Document</title>
    <style>
        select[name="dum"] {
            width: 100%;

        }
    </style>
</head>

<body>
    home
<form action="" method="post">
    {% csrf_token %}
    {{form.name}}
    {{form.dum}}
    <!-- <select name="dum" id="id_dum" multiple="multiple">
        {% for d in dums %}
        <option value="{{d.name}}">{{d.name}}</option>
        {% endfor %}
    </select> -->
    <input type="submit" value="ok">
</form>


<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_dum').select2();        
    });
</script>
</body>
</html>